/**
 * 登陆页面样式
 * update：2016-6-19 16:01:58
 */

 .page {
    padding: 0 1.4rem 2rem;
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    display: block;

    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 1rem;
}

.input-container {
    position: relative;
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    overflow: hidden;
    margin-top: 1.5rem;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 1px #d7d7d7;
    box-shadow: 0 0 0 1px #d7d7d7;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-container label {
    display: block;
    width: 4rem;
    height: 3.8rem;
    line-height: 4.8rem;
    color: #fff;
    background: #d7d7d7;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
}

.acc-input {
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 5.0rem;
}

input {
    border-radius: 0;
    border: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: normal;
    font-family: '微软雅黑';
}

.btn {
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    border-radius: 3px;
    margin-top: 2.5rem;
    display: block;
    text-align: center;
    background-color: #E83A57;
    color: #fff;
    background: linear-gradient(to bottom,#FF6C85 0,#E83A57 100%);
}

.quick-nav {
    margin-top: 2.2rem;
}

.quick-nav a {
    color: #333;
    display: inline-block;
    text-indent: .25rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.quick-login {
    margin-top: 3.7rem;
    border-top: 1px solid #d7d7d7;
    position: relative;
    text-align: center;
}

.quick-login h4 {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    background-color: #f3f5f7;
    padding: 0.5rem 1.5rem;
    color: #616161;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.quick-login a {
    position: relative;
    color: #616161;
    display: inline-block;
    margin: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.quick-login a.quick-wx i {
    width: 2.8rem;
    height: 2.8rem;
    background-image: url(/Public/images/other/weixin_108_108.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
    border-radius: 5px;
}

.quick-nav a.findpwd {
    float: left;
}

.quick-nav a.quickReg {
    float: right;
}

