<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{:seo('title')}</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
<link href="__H__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="__H__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__H__/css/animate.min.css" rel="stylesheet">
<link href="__PUBLIC__/pc/Seller/Common/css/style.css?v=4.1.0" rel="stylesheet">
<link href="__H__/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__H__/css/plugins/switchery/switchery.css" rel="stylesheet">
<script src="__H__/js/jquery.min.js?v=2.1.4"></script>
<script src="__H__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__H__/js/plugins/layer/layer.js"></script>
<script src="__STATIC__/plugins/artTemplate/dist/template.js"></script>
<script src="__PUBLIC__/js/form.js"></script>
<script src="__H__/js/plugins/switchery/switchery.js"></script>
<script src="__H__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/pc/Seller/Common/js/common.js"></script>
<script type="text/javascript">
	var VM = {};
	VM.BOOTSTAMP = new Date().getTime();
	VM.STATIC_URL = "http://static.baby.com";
</script>
</head>
<body class="gray-bg">
{__CONTENT__}
</body>
</html>